# .gitignore

# Python
*.pyc
.python-version
*.egg-info/
.pytest_cache/
.coverage

# Python build
/dist/
/build/

# Man pages
/backupctl.?
/backupctl.?.gz
/backupctl.ini.?
/backupctl.ini.?.gz

# Configuration
/backupctl.ini
